header {
	/*margin-top:-6px;*/
	height: 90px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+16,eeeeee+89,dddddd+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 16%, #eeeeee 89%, #dddddd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 16%,#eeeeee 89%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 16%,#eeeeee 89%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
	
.masterhead {
	position: relative;
	width: 75%;
	margin: 0 auto;
}

.logo {
	height: 90px;
}

.navbar {
	position: inherit;
	top: -6px;
	float: right;
}

.navbar .link-list {
	padding-top: 20px;
}

.navbar .link-list li {
	display: inline;
	padding: 15px 10px;
}

.navbar .link-list li  a {
	text-decoration: none;
	color: #333;
	
}

.navbar .link-list li:first-child {
	background: #13b6eb;
}

.navbar .link-list li:first-child a {
	color: #EEE;
}

#home{
	font-weight: bold;
}

select{
	visibility: hidden;
}

@media (max-width: 1000px){
	nav{
		display: none;
	}

	select{
		visibility: visible;
		display: block;
		position: absolute;
		bottom: 30px;
		right: 5%;
		height: 50px;
		width: 200px;
		background-color: #13b6eb;
		color: white;
		font-size: 22px;
	}
}

@media(max-width: 600px){
	select{
		bottom: 50px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}

	header{
		height: 180px;
	}

	.masterhead{
		height: 200px;
	}

	header img{
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
}